<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="popup">
        <div class="popup__logo">
          <img src="./img/logo-translate.svg" />
        </div>
        <h3 class="popup__title">Transcy application support google translate</h4>
        <div class="popup__content">
          <ul>
            <li>More smarter ways to collect reviews to build strong social proof</li>
            <li>Brand new ways to display reviews that achieve the great visual</li>
            <li>Powerful settings to display reviews based on products and audience</li>
          </ul>
        </div>
    </div>
  </body>
</html>
